{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">
Current version - MADE SOME CHANGES TO THIS BRANCH
    </h2>

    <p>
      <a href="/current/guidance">Guidance page</a><br>
      <a href="/current/start">Start page</a>
    </p>

    <h2 class="govuk-heading-m">
Version 1
    </h2>

    <p>
      <a href="/sprint-1/guidance">Guidance page</a><br>
      <a href="/sprint-1/start">Start page</a>
    </p>

  </div>
</div>

{% endblock %}
