<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/form-handler" method="post" novalidate>
          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are the droids with any other creatures?
      </h1>
    </legend>
    <div id="changed-name-hint" class="govuk-hint">
      Creatures could be humanoid or any other shape.
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="creatures1" name="creatures" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="creatures1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="creatures2" name="creatures" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="creatures2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
